.container{
    background-color:white;
    height:750px;
    width: 500px;
    float:left;
    text-align: left;
    margin-left:40px;
    margin-top:30px;
}
.container1{
    background-color:white;
    height:400px;
    width:600px;
    float:left;
    text-align:left;
    margin-left:40px;
    margin-top:30px
}
#pic1{
    margin:10px;
    
}
body{
    background: url(herringbone.png);
}
.navbar-nav{
   margin-right:50px;
}
#footer{
    position:fixed;
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
   color:white;
   background-color:darkgray;
   border-top-width: 10px;
   border-top: #4aaaa5;
   border-color:#4aaaa5;
}
.navbar-brand{
    color:white;
    background-color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding:20px;
    margin:0px;
    border:0px;
    border-color: #4aaaa5;
    margin-left:60px;
}
.navbar-nav > li > a {padding-top:0px !important; padding-bottom:0px !important;}
.navbar {min-height:70px; padding:0px; margin:0px; border:0px !important}